<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">Main</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>Data</small>
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ratione at
    velit ea eos magnam delectus fugiat exercitationem quam quidem deleniti quo
    cupiditate neque, repellendus mollitia. Dolor debitis aliquam commodi.
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ratione at
    velit ea eos magnam delectus fugiat exercitationem quam quidem deleniti quo
    cupiditate neque, repellendus mollitia. Dolor debitis aliquam commodi.
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ratione at
    velit ea eos magnam delectus fugiat exercitationem quam quidem deleniti quo
    cupiditate neque, repellendus mollitia. Dolor debitis aliquam commodi.
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ratione at
    velit ea eos magnam delectus fugiat exercitationem quam quidem deleniti quo
    cupiditate neque, repellendus mollitia. Dolor debitis aliquam commodi.
  </div>
</div>
